.support-page {
        > *:not(.home-page__hero) {
            &:not(:last-child) {
                margin-block-end: toRem(50);
            }
            @media (min-width: toEm(768)) and (max-width: toEm(1629.98)) {
                &:not(:last-child) {
                    margin-block-end: toRem(120);
                }
            }
            @media (min-width: toEm(1630)) {
                &:not(:last-child) {
                    margin-block-end: toRem(150);
                }
            }
        }
    &__section{
        @include adaptiveValue("padding-top", 115, 40);
        line-height: 1.5; /* 72px */
    }
    // .support-page__container

    &__container {
        display: flex;
        justify-content: space-between;
        gap: toRem(15);

        @media (max-width: toEm(900)) {
            flex-direction: column;
            gap: toRem(50);
        }
    }
}
.support-block {
    display: flex;
    flex-direction: column;
    max-width: toRem(533);
    min-width: toRem(357);
    // .support-block__title
    @media (max-width: toEm(900)) {
        max-width: none;
        min-width: 0;
    }

    &__title {
        color: var(--white-color);
        @include adaptiveValue("font-size", 48, 28);
        font-weight: 700;
        @include adaptiveValue("margin-block-end", 14, 10);
    }

    // .support-block__text

    &__text {
        
        @include adaptiveValue("font-size", 18, 14);
        @include adaptiveValue("margin-block-end", 50, 26);
    }

    // .support-block__img

    &__img {
        flex-grow: 1;
        border-radius: toRem(6);
        border: toRem(6) solid var(--dark-color-4);
        background: var(--dark-color-2);
        max-width: toRem(540);

        overflow: hidden;

        @media (max-width: toEm(900)) {
            margin: 0 auto;
        }
        img {
            aspect-ratio: 533 / 477;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
