:root {
	--bg-color: #141414;
	--main-color: #999;

	--white-color: #fff;
	--gray-color: #bfbfbf;
	--red-color: #e50000;

	--red-hover-color: #920101;

	--dark-color-1: #1f1f1f;
	--dark-color-2: #0f0f0f;
	--dark-color-3: #1a1a1a;
	--dark-color-4: #262626;
	--dark-color-5: #333333;

	--dark-hover-color: #4c4c4c;
}
